/*Definir estilos para el body*/
body{
    line-height: 1.6;
    background-color: #edf5fe;
    color: #333;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: #1f2937;; /*Color de fondo*/
    color: #c6cbd4; /*Color de la fuente*/
    padding: 10px 0;
    position:fixed;
    width: 100%; /*Ocupa todo el ancho de la ventana del navegador*/
    top: 0;
    z-index: 1000;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-texto {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.logo-nombre {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#adc4ed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para que se lea mejor */
    font-size: 17px;
}

.logo-slogan {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#adc4ed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para que se lea mejor */
    font-size: 17px;
}

.logo-img{
    height: 60px;
    width: auto;
    object-fit:contain;
}

/* Barra principal */
.navbar{
    background:#1f2937;
    padding:0 20px;
}


/* Menú horizontal */
.menu{
    list-style:none;
    display:flex;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.menu > li{
    position:relative;
}

.menu > li > a{
    display:block;
    padding:15px 20px;
    color:#c6cbd4;
    text-decoration:none;
    font-weight:bold;
    transition: color 0.3s;
}

.menu > li > a:hover{
    background:#1f2937;
    color:#76a1f1;
}

/* Submenú */
.submenu{
    position:absolute;
    top:100%;
    left:0;
    background:#1f2937;
    min-width:180px;
    list-style:none;
    display:none;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Items del submenú */
.submenu li a{
    display:block;
    padding:12px 15px;
    color:#c6cbd4;
    text-decoration:none;
    transition: color 0.3s;
}

.submenu li a:hover{
    background:#1f2937;
    color:#76a1f1;
}

/* Mostrar submenu */
.dropdown:hover .submenu{
    display:block;
}

/* Flecha */
.dropdown > a::after{
    content:" ▼";
    font-size:12px;
}

.languaje {
    display:flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}
.languaje .en{
    color:#c6cbd4;
}
.languaje .es{
    color:#c6cbd4;
}
.languaje .check{
    position:relative;
    width:50px;
}
.languaje .check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #6d6767;
    border-radius: 25px;
}
.languaje .check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #f9fbfe;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #6d6767;
    box-sizing:border-box;
}
.languaje .check:checked:after{
    left:25px;
    border:2px solid #76a1f1;
}
.languaje .check:checked:before{
    background:#76a1f1;
}
.hero{
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px 0px 20px;
    margin-top: 70px;
}
.introduccion{
    max-width: 1200px;
    margin: auto;
}
.introduccion img{
    border-radius: 10px;
}
.introduccion h1{
    font-size: 48px;
    color: #1e4367;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.introduccion p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0 70px 0px 70px;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*Estilos para el bloque galeria*/
.galeria{
    padding: 0px 20px 60px 20px;
    background-color: #edf5fe;
}    

.galeria:nth-child(even){
    background-color: #edf5fe;
}

.texto {
    max-width: 1200px;
    margin:auto;
    background-color: #ddecfe;
}

.texto h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #247294;
    font-size: 32px;
    margin-top: 50px;
    background-color: #ddecfe;
}

.texto p {
    color: #4a4a4a;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 0 140px;
    margin-bottom: 50px;
    background-color: #ddecfe;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.row img {
    transition: transform 0.3s ease; /* Suaviza la transición */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.row img:hover {
  transform: scale(1.1); /* Zoom del 10% */
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 20px;
    margin-right: 5px;
    margin-left: 5px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


footer{
    background: #1f2937;
    text-align: center;
    padding: 50px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.materia h3{
    font-size: 26px;
    color: #e1e6ef;
    margin-top: 15px;
}
.universidad {
    margin-top: 15px;
}
.universidad p{
    font-size: 14px;
    font-weight: bold; /* O usa valores numéricos: 700, 800, 900 */
    color: #c6cbd4;
    margin-top: 3px;
}
.creditos{
    margin-top: 6px;
}
.creditos p{
    font-size: 12px;
    color: #acb0b7;
    margin-top: 3px;
}
.final p{
    font-size: 12px;
    color: #9ea1a7;
}
hr{   
    border: none; /* Quita el borde por defecto */
    border-top: 3px solid #2e3949; /* Define grosor, estilo y color */
    width: 80%;   /* Ancho de la línea */
    margin: 20px auto;  /* Centra la línea y añade margen superior/inferior */
}